---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=../" />
    <title>Redirecting to Module 4</title>
    <link rel="canonical" href="../" />
  </head>
  <body>
    <p><a href="../">Open Module 4</a></p>
  </body>
</html>
